<tr (click)="selectItem(item)" *ngFor="let item of items">
  <td data-label="Select" scope="row" class="col-1">
    <input type="checkbox" aria-label="Checkbox for row item" [(ngModel)]='item.checkbox'>
  </td>
  <td data-label="Name" scope="row" class="col-2">{{item.name}}</td>
  <td data-label="Email" scope="row" class="col-2">{{item.email}}</td>
  <td data-label="Live Near"
      scope="row"
      data-toggle="tooltip" data-placement="bottom" title="{{item.liveNearInput}}"
      class="col-1">
      <div class="badge badge-pill badge-info"
           [ngClass]="{'bg-success': item.liveNear === true, 'bg-danger': item.liveNear === false}">{{item.liveNear === true ? 'Yes' : 'No'}}
      </div>
  </td>
  <td data-label="KnowledgeOf"
      scope="row"
      data-toggle="tooltip" data-placement="bottom" title="{{item.memberOfInput}}"
      class="col-1">
      <div class="badge badge-pill badge-info"
           [ngClass]="{'bg-success': item.memberOf === true, 'bg-danger': item.memberOf === false}">{{item.memberOf === true ? 'Yes' : 'No'}}
      </div>
  </td>
  <td data-label="MemberOf"
      scope="row"
      data-toggle="tooltip" data-placement="bottom" title="{{item.knowledgeOfInput}}"
      class="col-1">
      <div class="badge badge-pill badge-info"
           [ngClass]="{'bg-success': item.knowledgeOf === true, 'bg-danger': item.knowledgeOf === false}">{{item.knowledgeOf === true ? 'Yes' : 'No'}}
      </div>
  </td>
  <td data-label="MemberOf"
      scope="row"
      data-toggle="tooltip" data-placement="bottom" title="{{item.additionalNotes}}"
      class="col-4">
      <div class="badge badge-pill badge-info"
           [ngClass]="{'bg-success': item.additionalNotes !== '', 'bg-danger': item.additionalNotes === ''}">{{(item.additionalNotes !== '') ? 'Yes' : 'No'}}
      </div>
  </td>
</tr>